BODY   {
	margin: auto;
	color: black;
	font-size: 15px;
	line-height: 18px;
	max-width: 1000px;
	font-family: Georgia;
	font-weight: normal;
	background-color: #FFFFFF;
	display: block;
}
page   {
	margin: auto;
	color: black;
	font-size: 15px;
	line-height: 18px;
	max-width: 1000px;
	font-family: Georgia;
	font-weight: normal;
	background-color: #FFFFFF;
	display: block;
}

B, default {
   font-weight : normal; 
	}

B, sectionhead {
   font-weight : normal;
   font-size: 24px;
   font-family: Georgia;
	}
	
A:visited {
	font-weight : normal;
	text-decoration : none;
	color: black;
	}

A:link {
	font-weight : normal;
	text-decoration : none;
	color: black;
	}


A:hover  { text-decoration: underline; }

table {margin:0;
	   border-collapse: collapse;
	   padding:0;
	   }​
